.body {
    font-family: sans-serif;
}
.card-footer {
    text-align: center;
    padding: 20px 70px;

    background-color: #E0E0E0;
}

.menu-top {
    text-align: center;
    margin: 15px 0;
}

.top-menu-link {
    color:  #16a085;
font-size: 18px;/* Приближение из-за подстановки шрифтов */
font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    transition: 0.4s;
    border-bottom: 1px solid transparent;
}
.top-menu-link:hover {
    border-bottom: 1px solid #16a085;
}

.top-img {text-align: center;  
}
.button {
    background-color: #2BC4AB;
    width: 130px;
    height: 40px;
    display: block;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    position: relative;
    border: 1px solid white;
}
